In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r'D:\Karishma\Data analysis classes\python\datasets\rsw_amazon_sales.csv')
df

,Order_ID,Order_Date,Region,Product_Category,Product_Name,Quantity,Unit_Price,Discount,Revenue,Cost,Profit
0,ORD101084,03-01-2023,North America,Home,Blender,100,454.32,NaN,NaN,51730.14,NaN
1,ORD108018,03-09-2023,Europe,Toys,Doll,1,143.51,0.00,143.51,143.02,0.49
2,ORD106466,27-09-2023,Asia,Books,Biography,100,19.25,0.05,1828.75,2221.70,-392.95
3,ORD104865,05-10-2023,North America,Books,Sci-Fi,50,238.72,NaN,NaN,9825.43,NaN
4,ORD101573,02-02-2023,Europe,Home,Lamp,1,392.44,NaN,NaN,321.11,NaN
...,...,...,...,...,...,...,...,...,...,...,...
14999,ORD100490,04-10-2023,North America,Home,Blender,3,45.00,0.10,121.50,119.22,2.28
15000,ORD100490,04-10-2023,North America,Home,Blender,3,45.00,0.10,121.50,119.22,2.28
15001,ORD100490,04-10-2023,North America,Home,Blender,3,45.00,0.10,121.50,119.22,2.28
15002,ORD100490,04-10-2023,North America,Home,Blender,3,45.00,0.10,121.50,119.22,2.28
15003,ORD100490,04-10-2023,North America,Home,Blender,3,45.00,0.10,121.50,119.22,2.28

In [4]:
print(df.shape)
print(df.info())
print(df.isna().sum)

(15004, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15004 entries, 0 to 15003
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          15004 non-null  object
 1   Order_Date        15004 non-null  object
 2   Region            15004 non-null  object
 3   Product_Category  15004 non-null  object
 4   Product_Name      15004 non-null  object
 5   Quantity          15004 non-null  int64
 6   Unit_Price        15004 non-null  float64
 7   Discount          12509 non-null  float64
 8   Revenue           12509 non-null  float64
 9   Cost              15004 non-null  float64
 10  Profit            12509 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.3+ MB
None
<bound method DataFrame.sum of        Order_ID  Order_Date  Region  Product_Category  Product_Name  Quantity  \
0         False       False   False             False         False     False
1         False       False   False             False         False     False
2         False       False   False             False         False     False
3         False       False   False             False         False     False
4         False       False   False             False         False     False
...         ...         ...     ...               ...           ...       ...
14999     False       False   False             False         False     False
15000     False       False   False             False         False     False
15001     False       False   False             False         False     False
15002     False       False   False             False         False     False
15003     False       False   False             False         False     False

       Unit_Price  Discount  Revenue   Cost  Profit
0           False      True     True  False    True
1           False     False    False  False   False
2           False     False    False  False   False
3           False      True     True  False    True
4           False      True     True  False    True
...           ...       ...      ...    ...     ...
14999       False     False    False  False   False
15000       False     False    False  False   False
15001       False     False    False  False   False
15002       False     False    False  False   False
15003       False     False    False  False   False

[15004 rows x 11 columns]>

In [5]:
#Remove duplicates
duplicate_rows=df.duplicated().sum()
print(duplicate_rows)

4

In [6]:
df=df.drop_duplicates()

In [7]:
#filling numerical columns with mediun
num_cols=['Quantity','Unit_Price','Discount','Cost']
for col in num_cols:
    df.loc[:,col] = pd.to_numeric(df[col],errors='coerce')
    df.loc[:,col] = df[col].fillna(df[col].median())

In [8]:
#filling categorical columns with mode
cat_cols=['Region','Product_Category','Product_Name']
for col in cat_cols:
    df.loc[:,col]=df[col].fillna(df[col].mode()[0])

In [9]:
#date parsing

df.loc[:,'Order_Date']=pd.to_datetime(df['Order_Date'],errors='coerce')
df=df.dropna(subset=['Order_Date'])

In [10]:
print("after cleaning", df.shape)

after cleaning (5682, 11)

In [11]:
df.to_csv(r'D:\Karishma\Data analysis classes\python\datasets\cleanedrsw_amazon_sales.csv', index=False,encoding='utf-8')